.text-ticket
{
    color: rgb(0, 149, 160) !important;
}

#footer
{
    background-color: #007ea5;
}

#header img
{
    width: 60px;
}


#footer a
{
    color: white;
}

#main .carousel-inner img
{
    max-height: 35vh; 
    /* Corrige el tamaño sobre lo alto de las imagenes */
    object-fit: cover;
    /* Realoza un zoom para que no aparescan estiradas las imagenes*/
    filter: grayscale(80%);
}

#carousel
{
    position: relative;
}

#carousel .overlay
{
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: seashell;
}

#carousel .overlay .container,
#carousel .overlay .row
{
    height: 100%;
}

.btn-personal
{
    background-color: rgb(5, 184, 255);
    color: whitesmoke;
}

.btn-personal:hover
{
    background-color: rgb(0, 183, 255);
    color: white;
}



